* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: rgb(7, 6, 71);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: 0;
}
.container {
	background-color: black;
	border: 5px solid white;
	width: 320px;
	height: 650px;
	border-radius: 25px;
	box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
	position: relative;
	bottom: -25px;
}
.up-bar {
	background-color: black;
	padding: 0;
	margin: 0;
	width: 320px;
	height: 50px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.phone {
	color: white;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	cursor: pointer;
	position: relative;
	bottom: -10px;
	right: -5px;
}

.search {
	width: 10px;
	height: 10px;
	display: flex;
	float: right;
	position: relative;
	top: -15px;
	left: -60px;
}

.points {
	display: flex;
	float: right;
	position: relative;
	top: -15px;
	
}
.display {
	color: white;
	width: 300px;
	height: 50px;
	text-align: center;
	position:relative;
	top: 160px;
	right: -10px;
	border-style: none;
	cursor: text;
	z-index: 3;
	font-size: 30px;
}
.buttons {
	z-index: 1;
	display: grid;
	grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
	align-items: center;
	justify-content: center;
	position: relative;
	right: -10px;
}	
.button {
	border-radius: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
	cursor: pointer;
	position: relative;
	right: -17px;
	bottom: -180px;
	text-align: center;
	color: white;
	background-color: transparent;
	font-family: sans-serif;
}
.ph {
	border-radius: 50px;
	background-color: #1dff96;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	position: relative;
	right: -130px;
	bottom: -240px;
}
#c {
	position: relative;
    bottom: -190px;
	right: -30px;
	font-size: 40px;
}
#show_x {
	position: relative;
    bottom: -140px;
	right: -240px;
	font-size: 40px;
}
.down-bar {
	background-color: transparent;
	height: 50px;
	width: 320px;
	position: absolute;
	bottom: 0px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	overflow: hidden;
	
}
.down {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	font-size: 25px;
}
.recent {
	width: 120px;
	height: 35px;
	border-radius: 25px;
	cursor: pointer;
	position: relative;
	left: -2px;
	font-size: 12px;
	bottom: -15px;
	background-color: transparent;
	color: white;
}
.keypads {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	left: -3px;
	border-radius: 25px;
	bottom: -15px;
	background-color: transparent;
	color: white;
}
.contact {
    float: right;
	border-radius: 25px;
	cursor: pointer;
	position: relative;
    right: -6px;
	bottom: -15px;	
	background-color: transparent;
	color: white;
}
.points {
	color: white;
	cursor: pointer;
}
.search {
	color: white;
	cursor: pointer;
}
#downs {
	z-index: 3;
}
ul {
	list-style: none;
	text-decoration: none;
	display: flex;
	color: white;
}
li {
	list-style: none;
    display: flex;
    padding: 0px 15px;
	color: white;
	position: relative;
	left: 50px;
	bottom: -10px;
}
#hey {
	position: relative;
	right: 30px;
}
#heys {
	position: relative;
	right: -30px;
}
ul li {
	text-decoration: none;
    padding: 6px 15px;
	color: white;
}
li a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
a:active {
	color: white;
}
lu, li, a:visited {
	text-decoration: underline white;
}
.button:hover {
	background-color: rgb(122, 122, 122);
	transition: all 0.5s ease 0s;
}
.dropbtn {
	background-color: transparent;
	color: white;
	font-size: 15px;
	border-radius: 25px;
	border: none;
	cursor: pointer;
  }
.dropbtn:hover {
	background-color: gray;
	transition: all 1s ease 0s;
}
  .dropdown {
	position: relative;
	display: inline-block;
  }
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(61, 61, 61);
	width: 140px;
	height: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 25px;
	right: 0px;
	top: -15px;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: sans-serif;
	font-size: 12px;
  }
  .dropdown-content a:hover {
	background-color: #ddd;
	transform: all 1s ease 0s;
}
  .show {
	display:block;
}
.speed:hover {
	background-color: gray;
	transition: all 0.3s ease 0s;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.contact-us:hover {
	background-color: gray;
	transition: all 0.3s ease 0s;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}